body{

	margin: 0;
	

}

#base{
	
	background-image: url("../img/DSCF0330.jpg");
	
	background-size: 100% auto;
	

}

#base .categoria{
		

		height: 112px;
		width: 198px;
		background-size: 100% auto;
		margin: 3.5% 0 0 3.5%;
		display: inline-block;
		background-image: url(../img/DSCF0371-movil.jpg);
		
		color: #fff;
		vertical-align: top;
		padding: 2em 0.5%;
		padding-bottom: 60px;
		border-radius: 50%;
		text-align: center;
		border:	solid 3px #dfdfdf;
		

	
	
	
}

#base .categoria h1{
	

	font-size: 1.8em;
	


}



.fullScreen{

	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;

}

header{
	
	position: relative;
	width: 100%;
	height: 60px;
	background-color: #333;
	top: 0px;
	

}

header #logo{
	
	position: absolute;
	float: left;
	width: 100px;
	top: -31%;
	
}

header #control{
	
	position: relative;
	float: right;
	width: 100px;
	top: -31%;
	

}


.marginTop{

	width: 55%;
	margin: 0 auto;
	padding: 7em 0 0 0;

}
